<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>INFO PROYECTO</h3>
    <p>Argumentos de entrada: <%=informacion.argEntrada %> </p>
    <p>Plataforma: <%=informacion.plataforma %> </p>
    <p>Versión Node: <%=informacion.nodeVersion %> </p>
    <p>Memoria Total reservada: <%=informacion.memoriaTotal %> </p>
    <p>Path ejecución: <%=informacion.pathEjecucion %> </p>
    <p>Process Id: <%=informacion.processId %> </p>
    <p>Carpeta del proyecto: <%=informacion.carpeta %> </p>
    <p>Número CPUS: <%=informacion.numCPUs %> </p>
</body>
</html>